.gameplay-section {
  padding-top: 80px;

  @include media(desktop) {
    padding-top: 160px;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
  }
}

.gameplay-img1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 20px;
  }
}

.gameplay-img2 {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
