<section class="features-section section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Core Features</h2>
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <picture>
              <source
                srcset="./img/features/features-img1-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="236" />
              <source
                srcset="./img/features/features-img1-mob.png"
                width="305"
                height="174" />
              <img
                class="features-img"
                src="./img/features/features-img1-mob.png"
                alt="Screenshot of the game"
                width="305"
                height="174"
                loading="lazy"
            /></picture>
            <p class="features-item-text">
              Money keeps rolling in even when you're not playing
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <picture>
              <source
                srcset="./img/features/features-img2-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="236" />
              <source
                srcset="./img/features/features-img2-mob.png"
                width="305"
                height="174" />
              <img
                class="features-img"
                src="./img/features/features-img2-mob.png"
                alt="Screenshot of the game"
                width="305"
                height="174"
                loading="lazy"
            /></picture>
            <p class="features-item-text">Store expansion upgrades</p>
          </li>
          <li class="swiper-slide features-slide">
            <picture>
              <source
                srcset="./img/features/features-img3-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="236" />
              <source
                srcset="./img/features/features-img3-mob.png"
                width="305"
                height="174" />
              <img
                class="features-img"
                src="./img/features/features-img3-mob.png"
                alt="Screenshot of the game"
                width="305"
                height="174"
                loading="lazy"
            /></picture>
            <p class="features-item-text">Simple tap-based controls</p>
          </li>
          <li class="swiper-slide features-slide">
            <picture>
              <source
                srcset="./img/features/features-img4-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="236" />
              <source
                srcset="./img/features/features-img4-mob.png"
                width="305"
                height="174" />
              <img
                class="features-img"
                src="./img/features/features-img4-mob.png"
                alt="Screenshot of the game"
                width="305"
                height="174"
                loading="lazy"
            /></picture>
            <p class="features-item-text">Reward-based progression system</p>
          </li>
          <li class="swiper-slide features-slide">
            <picture>
              <source
                srcset="./img/features/features-img5-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="236" />
              <source
                srcset="./img/features/features-img5-mob.png"
                width="305"
                height="174" />
              <img
                class="features-img"
                src="./img/features/features-img5-mob.png"
                alt="Screenshot of the game"
                width="305"
                height="174"
                loading="lazy"
            /></picture>
            <p class="features-item-text">
              You'll actually see your store change as you play
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <picture>
              <source
                srcset="./img/features/features-img6-desk.png"
                media="(min-width: 1440px)"
                width="413"
                height="236" />
              <source
                srcset="./img/features/features-img6-mob.png"
                width="305"
                height="174" />
              <img
                class="features-img"
                src="./img/features/features-img6-mob.png"
                alt="Screenshot of the game"
                width="305"
                height="174"
                loading="lazy"
            /></picture>
            <p class="features-item-text">Staff management mechanics</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
