<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">How to Play</h2>
    <div class="gameplay-content-wrapper">
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img1-desk.png"
          media="(min-width: 1440px)"
          width="1280"
          height="298" />
        <source
          srcset="./img/gameplay/gameplay-img1-mob.png"
          width="335"
          height="90" />
        <img
          class="gameplay-img1"
          src="./img/gameplay/gameplay-img1-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="90"
          loading="lazy"
      /></picture>
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img2-desk.png"
          media="(min-width: 1440px)"
          width="846"
          height="30" />
        <source
          srcset="./img/gameplay/gameplay-img2-mob.png"
          width="335"
          height="76" />
        <img
          class="gameplay-img2"
          src="./img/gameplay/gameplay-img2-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="76"
          loading="lazy"
      /></picture>
    </div>
  </div>
</section>
