<section class="section mechanics-section" id="mechanics">
  <div class="mechanics-bg-wrapper">
    <div class="container mechanics-container">
      <h2 class="section-title mechanics-title">Gameplay Mechanics</h2>
      <div class="mechanics-content-wrapper">
        <img
          class="mechanics-img"
          src="./img/mechanics/mechanics-img-desk.png"
          alt="Screenshot of the game"
          width="280"
          height="503"
          loading="lazy"
        />
        <div class="mechanics-text-wrapper">
          <ul class="mechanics-list">
            <li class="mechanics-list-item">
              <svg class="menu-icon" width="44" height="44">
                <use href="./img/sprite.svg#icon-dollar"></use>
              </svg>
              <p class="mechanics-item-text">
                Start with a basic mini mart layout
              </p>
            </li>
            <li class="mechanics-list-item">
              <svg class="menu-icon" width="44" height="44">
                <use href="./img/sprite.svg#icon-dollar"></use>
              </svg>
              <p class="mechanics-item-text">Unlock new product aisles</p>
            </li>
            <li class="mechanics-list-item">
              <svg class="menu-icon" width="44" height="44">
                <use href="./img/sprite.svg#icon-dollar"></use>
              </svg>
              <p class="mechanics-item-text">Hire and upgrade employees</p>
            </li>
            <li class="mechanics-list-item">
              <svg class="menu-icon" width="44" height="44">
                <use href="./img/sprite.svg#icon-dollar"></use>
              </svg>
              <p class="mechanics-item-text">Increase checkout efficiency</p>
            </li>
            <li class="mechanics-list-item">
              <svg class="menu-icon" width="44" height="44">
                <use href="./img/sprite.svg#icon-dollar"></use>
              </svg>
              <p class="mechanics-item-text">Earn idle profits and reinvest</p>
            </li>
          </ul>
          <p class="mechanics-text">
            The whole point is making your shop bigger and getting the most out
            of every sale.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
